{% extends "bootstrap/base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block title %}Sommelier Inteligente App{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Sommelier Inteligente - App</h1>
    </div>
    <div class="page-body">
        <form action="/" method="post" class="form">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.alcool, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.acido_malico, class='form-control') }}
                        </div>                    
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.cinza, class='form-control') }}
                        </div>
                    </div>     
                    <div class="row">                        
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.alcalinidade_das_cinzas, class='form-control') }}
                        </div>                    
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.magnesio, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.flavanoides_totais, class='form-control') }}
                        </div>
                    </div>     
                    
                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.flavanoides, class='form-control') }}
                        </div>                        
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.fenois_nao_flavanoides, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.proantocianinas, class='form-control') }}
                        </div>                        
                    </div>  
                    <div class="row">                               
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.intensidade_da_cor, class='form-control') }}
                        </div>                    
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.matiz, class='form-control') }}
                        </div>
                                     
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.OD280_OD315, class='form-control') }}
                        </div>                    
                    </div>  
                    <div class="row">                               
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.proline, class='form-control') }}
                        </div>                                                         
                        <div class="col-md-8 text-right">                            
                            <button type="submit" class="btn btn-primary">Predict</button>
                        </div>                        
                    </div>                   
                </div>                
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename=classe + '.jpg') }}" class="w-50 h-50 img-thumbnail" >
                    <figcaption class="figure-caption">{{classe}}</figcaption>
                </div>   
            </div>                   
        </form>
    </div>
</div>
{% endblock %}